
.css-t3vd03-MuiInputBase-root-MuiInput-root:before {
  border: 0px !important;
}
div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1ab2xsx{
  background-color: #021A17 !important;
  background: #021A17 !important;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
  background-color: #08140F !important;
  background: #08140F !important;
}

.navActive{
  background: rgb(19,59,39,.7);
  transition: .5s;
}
.navSimple{
  background: transparent;
  transition: .5s;
}